DATABASE_USER=test
DATABASE_PASSWORD=test
DATABASE_PORT=5432
DATABASE_NAME=db
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/${DATABASE_PORT}?schema=public"
TELEGRAM_BOT_TOKEN=
SUBSCRIPTION_SERVICE_BASE_URL=
SUBSCRIPTION_SERVICE_WEBHOOK_UPDATE_PATH=/update-session
